.all-screen-middle {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.all-screen-middle img {
  background-size: cover;
    width: 100vw;
    height: 56.25vw;
}

@media screen and (max-width: 920px) {
      .all-screen-middle img {
        display: none;
      }
    }

    @media screen and (max-width: 920px) {
      .all-screen-middle {
        height: 100vh;
      }
    }

.all-screen-middle p {
  position: absolute;
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  font-size: 10vw;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  padding: 0;
  line-height: 100px auto;
  max-width: 100%;
  text-align: center;
}


.texte-middle h3 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  padding: 40px;
  margin-bottom: 100px;

}

.size-icone {
  font-size: 30px;
  color: white;
}

/*.container {
  text-align: center;
  color: white;
  width: 100%;
}

.card-custom-1 {
  background-color: black;
}

.card-custom-2 {
  background-color: black;
}
*/

/*.cards {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}*/

.card-custom {
  width: 300px;
  height: 450px;
  background-color: #FC614D;
  border-radius: 9px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 5px black;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;

}

.img-card img {
  max-width: 300px;
}

.logo-on-card {
  position: absolute;
  width: 150px;
  z-index: 30;
  top: 30px;
  left: 75px;
}

.logo-on-card-sapotille {
  position: absolute;
  width: 250px;
  top: 15%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.text-card {
  position: absolute;
  text-align: center;
  top: 60%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */

  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: white;
  padding: 20px;
}

.text-card-sapotille {
  position: absolute;
  text-align: center;
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */

  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: white;
}

.btn {
  position: absolute;
  top: 80%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

