@import url(style-all-screen-middle.css);

body {
  background-color: #EBECE6;
  position: relative;
}

.all-screen-top {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}


.cercle-middle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: white;
  z-index: 50;
  position: absolute;
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

/*.cercle-middle:hover {

  background-color: white;

}*/


.cercle-when-clicked {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: white;
  z-index: 5;
  position: absolute;
  top: 50%; left: 90%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}




.cercle-middle:hover~.left {
  background-color: #FC614D;
}

.cercle-middle:hover~.square-all a {
  color: #FC614D;
}

.square-all:hover~.left {
  color: #FC614D;
}

.cercle-middle:checked~.left{
  width: 100%;
  }

.cercle-middle-fin {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 1px solid white;
  opacity: 0.6;
  z-index: 11;
  position: absolute;
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#semi-cercle {
  position: relative;
}

#img-semi-cercle {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 260px;
  height: 260px;
  z-index: 10;
  transform-origin: center;
}

.left {
  width: 50%;
  height: 100%;
  float: left;
  background-color: #749FBB;
  position: relative;
}

.all-screen-width {
  float: none;
  clear: both;
  width: 100%;
}

.right {
  width: 50%;
  height: 100%;
  float: right;
  overflow: hidden;
  position: relative;
}

.image-right-1 {
  position: absolute;
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  width: 160%;
  height: auto;
  z-index: 2;
  min-height: 100%;
  min-width: 100%;
}



.image-right-2 {
  position: absolute;
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  z-index: 1;
}

.texte {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 30px;
}

h2 {
  font-size: 4vw;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
      .cercle-middle {
        display: none;
      }
    }

@media screen and (max-width: 768px) {
      h2 {
        font-size: 40px;
      }
    }

@media screen and (max-width: 768px) {
      .cercle-middle-fin {
        display: none;
      }
    }


@media screen and (max-width: 768px) {
      .square-all {
        display: none;
      }
    }

@media screen and (max-width: 768px) {
      .right {
        display: none;
      }
    }

@media screen and (max-width:768px) { /* phone < 640px */
 div.left, div.right {
  float:none;
  clear:both;
  width:100%;
 }
}


.test-texte {
  position: relative;
  text-align: center;
}



.square-all a {
  font-size: 20px;
  color: #749FBB;
  position: absolute;
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  z-index: 5;

  text-decoration: none;
}

/*#grid-size {
width: 60px;
height: 60px;
}*/

.square-all:hover {
color: #FC614D;
}

#no-decoration-bouton {
  text-decoration: none;
}

#explore {
  position: absolute;
  bottom: 0px;
  right: 20px;
  transform: translateY(-50%);
  padding-bottom: 10px;
}


.all-screen-top .left #explore a {
  font-size: 15px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: white;
}

.all-screen-top .left #explore i {
  font-size: 40px;
  color: white;
  text-decoration: none;
  color: white;
  text-align: center;
}

#explore #fleche {
  position: absolute;
  bottom: -10px;
  right: 14px;
}

.hidden-for-js {
  display: none;
}

.show {
  display: show; /* P.S: Use `!important` if missing `#content` (selector specificity). */
}

#hidden-text-menu a {
  text-decoration: none;
  line-height: 1;
}

.style-menu {
  font-size: 40px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: white;
  z-index: 50;
  text-decoration: none;
}

.style-menu:hover {
  font-size: 42px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  text-decoration: none;
  /*color: #FC614D;*/
  z-index: 50;
}


/*.underline:hover {
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.85;
  font-size: 60px;
  justify-content: right;
}*/

#menu-home {
  position: absolute;
  top: 26%; left: 80%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#menu-about {
  position: absolute;
  top: 42%; left: 73%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}


#menu-realisations {
  position: absolute;
  top: 58%; left: 74%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#menu-references {
  position: absolute;
  top: 74%; left: 79%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}


.hidden-menu {
  color: white;
  position: absolute;
  top: 8%; left: 95%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  z-index: 100;
  font-size: 50px;
  display: none;
}
